.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

h2 {
	padding: 1%;
	color: rgb(15, 150, 15);
	font-weight: bold;
  font-family: "Space Mono", monospace;
	text-align: center;
	background-color: rgb(56, 7, 88);
	border-radius: 10rem;
}
.img {
  width: 92%;
  margin: auto;
}

.explanation {
  font-size: .9rem;
	padding: 1%;
	width: 90%;
	margin: auto;
	color: rgb(15, 150, 15);
	font-weight: bold;
	font-family: "Space Mono", monospace;
	text-align: center;
	background-color: rgb(56, 7, 88);
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
